<header>
  <a href="/"><h1>Shop<span class="header_logo">Logo</span></h1></a>
  <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/product">Store</a></li>
        <li><a href="/product/create">New Item</a></li>
      </ul>
  </nav>
  <a href="#">Cart</a>
</header>