<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="title_container">
      <h2><%= title %></h2>
    </div>
    <main>
      <article>
        <div class="index_title">
          <h3>Hi !</h3>
          <p>Welcome to my Express project !</p>
        </div>
        <div>
          <p>This is an implementation of the <a href="https://www.theodinproject.com/lessons/nodejs-inventory-application">Inventory Application</a> project completed as part of the Node.js lessons provided by The Odin Project's full stack Javascript course.</p>
        </div>
        <div>
          <p> This project taught the basics for building a CRUD application and relational data using MongoDB.</p>
        </div>
      </article>
    </main>
  </body>
</html>
