<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="title_container">
      <h2><%= title %></h2>
    </div>
  </body>
</html>
