@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --bodyBG: #f5f5f5;
  --logo: #c4b5fd;
  --formShadow: #cbd5e1;
  --text: #44403c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--bodyBG);
  font-family: Roboto Condensed;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 15%;
}

.header_logo {
  color: var(--logo);
}

nav > ul {
  display: flex;
  gap: 1rem;
}

.title_container {
  width: 100%;
  background: var(--logo);
  padding: 2rem 15%;
  letter-spacing: 0.1rem;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 15%;
  gap: 2rem;
}

.product_card {
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 0.5rem;
}

.product_card img {
  width: 100%;
}

.card_text {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  font-weight: 700;
  text-transform: uppercase;

}

.card_btn {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.card_btn > a:hover {
  transform: scale(1.1);
  transition: .3s ease-in;
}

.form_container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_create {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  box-shadow: 0 3px 5px 2px var(--formShadow);
  gap: 1rem;
}

.preference{
  display: flex;
  flex-direction: column;
}

.preference input {
  padding: 0.2rem 0.4rem;
  outline: none;
}

.form_create > button {
  background: var(--logo);
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 0.4rem;
  border: none;
  color: white;
  padding: .8rem;
  cursor: pointer;
}


/* Global decorations*/
li{
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

h1, h2, h3,label{
  color: var(--text);
}