*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.shop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  gap: 0.8rem;
}